.horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-color: #282c34;
    margin: 1.5rem ;
    border-radius: 1.5rem;

}

.horizontalChild {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.horizontalMiddleSideChild {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixleft {

    margin: 1.0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}