*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
h1{
  margin-bottom: 50px;
}
img{
  width: 250px;
  height: 0 0 5px #000000;
  border-radius: 5px;
  margin-bottom: 30px;
}
button{
  border: 1px solid transparent;
  outline: none;
  background-color: black;
  color:white;
  padding: 10 px 25px;
  font-weight: bold;
  letter-spacing: 1.5px;
  border-radius: 5px;
}
button:hover{
  border-color: black;
  background-color: black;
  color:white;
}